
RewriteEngine On
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* - [env=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

RewriteRule upload/iframe.xss.response.js upload/iframe.xss.response.js [QSA,L]

# available files => slim
RewriteRule upload/files index.php [QSA,L]

# fineloader php upload handler
RewriteRule upload/.* upload/index.php [QSA,L]

# slim REST frameowrk
RewriteRule .* index.php [QSA,L]
